
@media only screen and (min-width: 576px) and (max-width: 768px) {
    a{
     font-size: 14px !important;
    }
    h1{
     font-size: 26px !important;
    }
    .box-2{
     border: 2px solid black !important;
     height: 37% !important;
     width: 75% !important;
 }
   }
 
 @media only screen and (min-width: 300px) and (max-width: 576px) {
    a{
     font-size: 10px !important;
    }
    h1{
     font-size: 18px !important;
    }
    .box-2{
     border: 2px solid black !important;
     height: 35% !important;
     width: 75% !important;
 }
   }
 
   @media only screen and (min-width: 300px) and (max-width: 319px){
     h1{
       font-size: 14px !important;
     }
   }