@media only screen and (min-width: 576px) and (max-width: 768px) {
    
    .box-2{
     border: 2px solid black !important;
     height: 43% !important;
     width: 75% !important;
 }
   }
 
 @media only screen and (min-width: 300px) and (max-width: 576px) {
   
    .box-2{
     border: 2px solid black !important;
     height: 43% !important;
     width: 75% !important;
 }
   }
